{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>Django Multi App</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

<nav>
    <div class="nav-left">
        <a href="{% url 'home' %}">🏠 Home</a>
    </div>

    {% if user.is_authenticated %}
        <div class="nav-right">
            <a href="{% url 'page1' %}">App 1</a>
            <a href="{% url 'page2' %}">App 2</a>
            <a href="{% url 'page3' %}">App 3</a>
            <a href="{% url 'logout' %}">➜] Έξοδος</a>
        </div>
    {% else %}
        <div class="nav-left">
            <a href="{% url 'login' %}">🔐 Σύνδεση</a>
        </div>
    {% endif %}
</nav>

<div class="content-wrapper">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>